.container {
  display: flex;
  height: 100dvh;
  box-sizing: border-box;
  column-gap: 6px;
  overflow: hidden;
  background: var(--mui-palette-background-default);
}

.main {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
